.image1{
    height: 110vh;
    width: 100%;
    
    background: linear-gradient(rgba(13,45,62,.8),rgba(13,45,62,.8)),url("../../Images/firm-handshake-min.jpg");

    /* background: #333 url("../../Images/gradient-navy-blue-digital-grid-wallpaper.jpg") center center no-repeat fixed; */
    background-size: 100% 100%, cover;
    
}
.Mission{
    background: url("../../Images/aboutus.png");

    /* background: #333 url("../../Images/gradient-navy-blue-digital-grid-wallpaper.jpg") center center no-repeat fixed; */
    background-size: 100% 100%, cover;
    background-repeat: no-repeat;
}
.section2{
    height: 90vh;
    width: 100%;
    
    background:url("../../Images/section_bg02.jpg.webp");

    /* background: #333 url("../../Images/gradient-navy-blue-digital-grid-wallpaper.jpg") center center no-repeat fixed; */
    background-size: 100% 100%, cover;
    
}
.text{
    padding: 3rem 3rem;
}
.total{
    font-size: 10rem !important;
    font-weight: bold !important;
    color: #1C4965 !important;
   
}
.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    padding-right: 6rem;
  
}


@media only screen and (max-width: 960px){
    .content{
        /* padding-bottom: 2rem !important; */
        padding-left: 5rem;
        /* padding-right: 5rem; */
        
      
    }

    .section2{
        padding: 3rem 0 !important;
        height: 90vh;
        width: 100%;
        
        background: #1C4965;
    
        /* background: #333 url("../../Images/gradient-navy-blue-digital-grid-wallpaper.jpg") center center no-repeat fixed; */
        background-size: 100% 100%, cover;
        
    }
    .total{
        
        
        font-size: 10rem !important;
        font-weight: bold !important;
        color: #1C4965 !important;
       
    }
    .text{
        padding: 0rem 3rem !important;
    }

}

@media only screen and (max-width: 550px){
    .total{
        
        
        font-size: 5rem !important;
      
       
    }
    .ProjHead{
        font-size: 3rem !important;

    }
    .text{
        padding: 0rem 1rem !important;
    }

  



}