.Head{
    letter-spacing: 5px;
     padding: 0rem 14rem !important;
}
@media only screen and (max-width: 992px){
    .Head{
        letter-spacing: 3px;
         padding: 0rem 5rem !important;
    }
    
    

}
@media only screen and (max-width: 550px){
    .Head{
        letter-spacing: 3px;
         padding: 2rem 3rem !important;
         font-size: 2rem !important;
        

        
    }
    
    

}
@media only screen and (max-width: 450px){
    .Head{
        letter-spacing: 2px;
         padding: 2rem 2rem !important;
    }
    
    

}